*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --logo-color: rgb(255, 255, 223);
    --main-color: rgb(233, 158, 30);
    --text-color: rgb(111, 95, 114);
    --putton-color:rgb(197, 29, 10);
    
}

.header-fixed{
    position: sticky;

}

a{
    text-decoration: none;
}

.logo{
    cursor: pointer;
    display: inline-block;
}

.body{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    padding: 0 90px;
}

.nav-list { 
    display: flex;
    margin-top: 30px;
    list-style-type: none;
    cursor: pointer;
    color: var(--logo-color);
    
}

.nav a{
    color: var(--logo-color);
    
}

.nav-item {
    margin: 0px 20px;
   
}

.nav a:hover{
    color: var(--putton-color);
    text-shadow: 1px 0 0 currentColor;
}

.icon{
    margin: 30px;
    cursor: pointer;
    
}

.icon-link{
    color: var(--logo-color);
    margin-left: 20px;
}

.menu{
    background-color: rgb(223, 148, 20);
    width: 200px;
    height: 230px;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    padding: 7px 0px ;
    display: none;
    animation: fakein ease-in 0.4s;
}

.menu-item{
    color: var(--text-color);
    list-style-type: none;
    display: block;
    margin-bottom: 9px;
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 4px;

}

.menu-item:last-child{
    border-bottom: none;
}

.nav-item-menu:hover .menu{
    display: block;
}

.menu::before{
    content: "";
    display: block;
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}

@keyframes fakein {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}
 
.nav-item-menu-1{
    /* position: relative; */

}

.menu-1{
    background-color: rgb(223, 148, 20);
    width: 200px;
    height: 87px;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    padding: 7px 0px ;
    display: none;
    animation: fakein ease-in 0.4s;
}

.menu-item-1{
    color: var(--text-color);
    list-style-type: none;
    display: block;
    margin-bottom: 9px;
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 4px;

}

.menu-item-1:last-child{
    border-bottom: none;
}

.nav-item-menu-1:hover .menu-1{
    display: block;
}

.menu-1::before{
    content: "";
    display: block;
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --logo-color: rgb(255, 255, 223);
    --main-color: rgb(233, 158, 30);
    --text-color: rgb(111, 95, 114);
    --putton-color:rgb(197, 29, 10);
    
}

.header-fixed{
    position: sticky;
    top:0;
    z-index: 1000;
}

a{
    text-decoration: none;
}

.logo{
    cursor: pointer;
    display: inline-block;
}

.body{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    padding: 0 90px;
}

.nav-list { 
    display: flex;
    margin-top: 30px;
    list-style-type: none;
    cursor: pointer;
    color: var(--logo-color);
    
}

.nav a{
    color: var(--logo-color);
    
}

.nav-item {
    margin: 0px 20px;
   
}

.nav a:hover{
    color: var(--putton-color);
    text-shadow: 1px 0 0 currentColor;
}

.icon{
    margin: 30px;
    cursor: pointer;
    
}

.icon-link{
    color: var(--logo-color);
    margin-left: 20px;
}

.fa-solid fa-magnifying-glass{
    position: relative;
}

.seach-box{
    position: absolute;
    background-color: #fff;
    height: 110px;
    width: 250px;
    top: 60px;
    right: 180px;
    color: var(--text-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: none; */
}

.seach-box::before{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
    top: -30px;
    right: 64px;
}

.seach-box-1{
    margin-left: 15px;
    margin-top: 25px;
}

.seach-box-1::before{
    background-color:  rgb(194, 197, 197);
    content: "";
    position: absolute;
    width: 89%;
    height: 1px;
    top: 50px;
}

.seach-box-2{
    margin-left: 13px;
    margin-top: 7px;
    width: 90%;
    height: 30%;
    border: solid 2px black;
    font-size: 1.3rem;
    outline: none;
}

.fa-solid fa-magnifying-glass:

.menu{
    background-color: rgb(223, 148, 20);
    width: 200px;
    height: 230px;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    padding: 7px 0px ;
    display: none;
    animation: fakein ease-in 0.4s;
}

.menu-item{
    color: var(--text-color);
    list-style-type: none;
    display: block;
    margin-bottom: 9px;
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 4px;

}

.menu-item:last-child{
    border-bottom: none;
}

.nav-item-menu:hover .menu{
    display: block;
}

.menu::before{
    content: "";
    display: block;
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}

@keyframes fakein {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}
 
.nav-item-menu-1{
    /* position: relative; */

}

.menu-1{
    background-color: rgb(223, 148, 20);
    width: 200px;
    height: 87px;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
    padding: 7px 0px ;
    display: none;
    animation: fakein ease-in 0.4s;
}

.menu-item-1{
    color: var(--text-color);
    list-style-type: none;
    display: block;
    margin-bottom: 9px;
    border-bottom: solid 1px #fff;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 4px;

}

.menu-item-1:last-child{
    border-bottom: none;
}

.nav-item-menu-1:hover .menu-1{
    display: block;
}

.menu-1::before{
    content: "";
    display: block;
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}

.slider{
    height: 100vh;
    width: 100vw;
    background-image: url(./img/mo-hinh-giay-bang-tam-trang-len-y-tuong-thuyet-trinh-0242.png) ;
    background-size: cover;
}


.content-1{
    padding-top: 30px;
    padding-bottom: 50px;
}

.infor{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.infor-1{
    color: var(--main-color);
    font-weight: 900;
    font-size: 2.2rem;
}

.infor-2{
    height: 40px;
    width: 100vw;
    background-image: url(./img/tieude_giua.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 599px;
}

.infor-3{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-bottom: 13px;
}

.infor-4{
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.content-2{
    height: 830px;
    width: 100vw;
    background-image: url(./img/z522189818509081f0cd62640b78d6e3a81b9ff4c7402c-5101\ \(1\).jpg);
    background-size: cover;
   
    background-repeat: no-repeat;
}

.content-3{
    margin-top: 30px;
}

body {
    font-family: Arial, sans-serif;
  
}
.product-container {
    display: flex;
    margin: 33px 200px;
}

.product {
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    margin-right: 17px;
    display: flex; 
    flex-direction: column; 
    position: relative;
}

.product h3{
    cursor: pointer;
}

.product img {
    height: 160px;
}

.price {
    margin-top: auto; 
    font-weight: bolder;
    font-size: 1.4rem;
}
   
.btn{
    background-color: var(--putton-color);
    color: var(--logo-color);
    border-radius: 10%;
    border: none;
    padding: 3px;
    width: 80px;

}
.btn-container{
    position: absolute;
    top: 70px;
    left: 10px;
   
}

.btn-hover{
    padding: 8px 10px;
    color: var(--logo-color);
    background-color: var(--putton-color);
    border: none;
    font-size: 1.1rem;
    display: none;
    animation: fakein ease-in 0.4s;
    cursor: pointer;
}

.product:hover .btn-hover{
    display: inline-block;
}

.content-4{
    margin-top: 0px;
}

.img-list{
    height: 235px;
    width: 100vw;
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}

.img-1 {
    transition: transform 0.6s ease; 
}

.img-1:hover{
    transform: scale(1.1);
}

.footer{
    width: 100vw;
    height: 625px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bgft-3693.jpg);
}

.logo-footer{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}
 
.location{
    width: 200px;
    align-items: center;
    text-align: center;
    margin-right: 60px;
    color: var(--logo-color);
}

.holine{
    display: flex;
}

.location-1{
    width: 200px;
    text-align: center;
    margin-right: 840px;
    margin-top: 20px;
    color: var(--logo-color);

}
.emote{
    font-size: 3rem;
    color: var(--logo-color);
}

.Thieu{
    color: var(--logo-color);

}

.TH{
    margin-top: ;
}

.service{
    display: flex;
    justify-content: center;
    background-color: red;
}

.service-1{

}

.service-tamgiac{
    background-color: aqua;
}

.service-vuong{
    background-color: aquamarine;
}

.slider-gioithieu{
    height: 450px;
    width: 100vw;
    background-image: url(./img/brown-beige-playful-illustration-advocacy-pet-adoption-presentation-1-3225.jpg) ;
    background-size: contain;
}

.about-1{
    margin-top: -20px;
}

.about-2{
    /* background-color: red; */
    height: 360px;
    display: flex;
    justify-content: center;

}

.about-block-1{
    
    height: 340px;
    width: 340px;
    text-align: end;
}

.about-block-child-1{
    display: flex;
    background-size: cover;
    font-size: 1rem;
    margin-top: -10px;
}

.about-block-child-1 img{
    height:46px;
    width: 46px;
    margin-top: 15px;
    margin-left: 9px;
}

.about-block-child-2{
    margin-top: -25px;
    font-size: 1.53rem;
    

}

.about-block-1-fa-2{
    margin-top: 40px;
}

.about-block-2{
    background-image: url(./img/doggy.webp);
    height: 350px;
    width: 340px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 70px;
}

.about-block-3{
    height: 340px;
    width: 340px;
    
}
.about-block-3 img{
    height:46px;
    width: 46px;
    margin-top: 10px;
    margin-left: -4px;
    margin-right: 10px;
}

.about-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-location{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.about iframe{
    width: 1100px;
    height: 450px;
    margin-bottom: 20px;
}



.about-4{
    margin: 0 210px;
    color: var(--text-color);
    font-size: 2.6rem;
    font-weight: 600 ;
    letter-spacing: 2px;
    text-indent: 20px;
}
.about-4 span{
    color: var(--main-color);
}

.about-5{
    margin: 0 210px;
}

.about-5 span{
    font-size: 2.4rem;
    font-weight: bold;
}

.about-5 p{
    font-size: 2.4rem;
}
.about-url{
    color: var(--main-color);
}


